html,
body {
    height: 100%;
    margin: 0;
}

textarea,
input,
.content {
    background: #e9e9e7;
}

.content {
    flex: 1;
    /* コンテンツ領域をフレックスボックスの残りのスペースを占めるように設定 */
    background: #e9e9e7;
    /* ヘッダーとフッターの下にコンテンツを配置 */
}


textarea::placeholder,
input::placeholder {
    color: #5c5b5b;
    padding-left: 15px;
    font-weight: bold;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;
    height: 90px;
    padding-left: 6px;
}

.header-nav{
    display: flex;
    list-style: none;
}

.header-nav__link{
    text-decoration: none;
    border: none;
    padding-left: 50px;
    background: white;
    font-size: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


.content__heading {
    text-align: center;
    margin: 40px auto;

}

.btn {
    padding: 8px 32px;
    border: none;
    background-color: #1631e6;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}

.footer{
    font-weight: bold;
    text-align: center;
}


/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px 0;
}

.pagination li:not(.active) {
    border: 1px solid #bbbbba;
    padding: 4px 12px;
    background-color: white;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #033bc9;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 4px 12px;
    border: 1px solid #033bc9;
    background-color: #033bc9;
    color: #FFF;
}