.attendance-sheet-form {
    margin: 20px auto;

}

.attendance-sheet-form__container {
    margin-top: 20px;
}

.attendance-sheet-form__select-month{
    margin-left: 50px;
}

.date-navigation {
    margin-bottom: 20px;
    text-align: center;
}

.date-navigation__button {
    display: inline-block;
    padding: 3px 10px;
    background-color: #fff;
    color: #032bf4;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
}

.date-navigation__button:hover {
    background-color: #0056b3;
}

.attendance-sheet__table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px auto;
}

.attendance-sheet__row {
    border: 1px solid #888585;
    border-left: none;
    /* 左側の境界線を削除 */
    border-right: none;
    /* 右側の境界線を削除 */
}

.attendance-sheet__row:nth-child(even) {
    background-color: #e9e9e9;
}

.attendance-sheet__label {
    padding: 30px;
    font-weight: bold;
}

.attendance-sheet__data {
    border: 1px solid #888585;
    border-left: none;
        /* 左側の境界線を削除 */
    border-right: none;
        /* 右側の境界線を削除 */
    padding: 30px;
    font-weight: bold;
    text-align: center;
}

.current-date {
    font-weight: bold;
    font-size: 20px;
}

svg.w-5.h-5 {
    /*paginateメソッドの矢印の大きさ調整のために追加*/
    width: 30px;
    height: 30px;
}

.select-month_btn {
    cursor: pointer;
    background: #888585;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: none;
}

.select-month_input {
    font-size: 16px;
    width: 150px;
    height: 30px;
    padding: 8px;
    border: 1px solid #5e5c5c;
    border-radius: 4px;
    cursor: pointer;
    /* ホバー時のボーダー */
    transition: border-color 0.3s ease;
}
/* ホバー時のスタイル */
.select-month_input:hover {
    border-color: #999;
}

/* フォーカス時のスタイル */
.select-month_input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.no-data-row {
    /* 背景色を灰色に設定 */
    color: #888;
    /* テキストの色を灰色に設定 */
    font-style: italic;
    /* 斜体でテキストを表示 */
    text-align: center;
    line-height: 300px;

}